@font-face {
  font-family: "MyFont";
  src: url("../assets/Calibri.woff2") format("woff2"),
    url("../assets/Calibri.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  background: url("../assets/icon.png");
  font-family: "MyFont";
}
